#shape {
    width: 500px;
    height: 500px;
    background-color: #f4b400;
    border-radius: 50%;
    margin: 10px auto;
    transition: 20s; 
    box-shadow: 0 0 20px #ff8800; 
}

.controls {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}